*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
}
body{
//    font-size: inherit;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.7;
    font-weight: 300;
    box-sizing: border-box;
}
img{
    width: 100%;
    max-width: 100%;
}
p{font-size: 1.6rem;}