.heading{
    font-weight: 300;
    &-title-large{
        font-size: 6rem;
        @include respond(lands){
            font-size: 5rem;
        }
        @include respond(tablet){
            font-size: 4.5rem;
        }
    }
    &-title-medium{
        font-size: 3rem;
        @include respond(tablet){
            font-size: 2.5rem;
        }
        @include respond(phone){
            font-size: 2.3rem;
        }
    }
    &-title-small{
        font-size: 2rem;
        @include respond(phone){
            font-size: 1.5rem;
        }
    }
}
.padding{
    &-top-bottom-large{
        padding-bottom:4rem; 
        padding-top:4rem; 
    }
    &-top-bottom-medium{
        padding-bottom:2rem; 
        padding-top:2rem;
        @include respond(phone){
           padding-bottom:1rem; 
            padding-top:1rem; 
        }
    }
    &-side-large{
        padding-left: 8rem;
        padding-right: 8rem;
        @include respond(phone-small){
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
    &-side-medium{
        padding-left: 3rem;
        padding-right: 3rem;
    } 
}
.margin{
    &-none{
        margin-bottom: 0!important;
        margin-left: 0!important;
        margin-right: 0!important;
        margin-top: 0!important;
    }
    &-center{
        margin-left: auto;
        margin-right: auto;
    }
    &-top-bottom-large{
        margin-top: 6rem;
        margin-bottom: 6rem;
    }
    
    &-top-bottom-medium{
        margin-top: 3rem;
        margin-bottom: 3rem;
        
    }
    &-top-bottom-small{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    &-bottom-large{
        margin-bottom: 6rem;
    }
    &-bottom-medium{
        margin-bottom: 3rem;
    }
    &-bottom-small{
        margin-bottom: 1rem;
    }
    
}

.bolder{
    font-weight: bolder;
}